body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6ffe6;
  color: #003300;
}

header {
  background-color: #009933;
  padding: 20px;
  text-align: center;
  color: white;
}

nav {
  background-color: #00cc66;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #009933;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
